<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  
    <h1>WELCOME BACK <%= user.username %></h1>
    <br>
    <p>Continue to Reserve/Borrow books:</p>
    <p><a href="/catalog"></a></p>
    <br>
    <p><a href="/users/logout">LOG OUT</a></p>
    
 

</body>
</html>