<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>REGISTER</h1>
  <p>(ie sign-up to use the Library)</p>
  <form action="" method="POST">
    

    <label for="username">Username</label>
    <input style="
    margin-bottom: 10px;" placeholder="username" type="text" name="username"  />
    <br>

    <label style="
    margin-right: 4px; "  for="password">Password</label>
    <input type="password" placeholder="Password" name="password"  />
    <br>

    <button style="
    margin-left: 68px;
    margin-top: 10px;">Sign Up</button>



  </form>
</body>
</html>